{% extends 'base.html' %}

{% block title %}Все посты{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Все посты</h2>

    {% for post in page_obj %}
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content|truncatewords:20 }}</p>
                <small class="text-muted">Опубликовано: {{ post.created_at }}</small><br>

                <!-- Отображаем количество комментариев и лайков -->
                <div class="d-flex justify-content-between align-items-center">
                    <span>Комментариев: {{ post.comments.count }}</span>
                    <span>
                        <i class="fas fa-thumbs-up text-primary mr-1"></i>
                        Лайков: {{ post.like_count }}
                    </span>
                </div>

                <!-- Ссылка на детальную страницу поста -->
                <a href="{% url 'myBlog:post_detail' post.id %}" class="text-primary">Читать далее</a>
            </div>
        </div>
        <hr>
    {% endfor %}

    <!-- Пагинация -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; Первая</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                </li>
            {% endif %}

            <li class="page-item active">
                <a class="page-link" href="#">{{ page_obj.number }} <span class="sr-only">(current)</span></a>
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>

</div>
{% endblock %}
